# Python cache files
__pycache__/
*.py[cod]
*$py.class

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Large CSV files (use Git LFS if needed)
*.csv

# Virtual environment
venv/
env/
.env

# IDE files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Log files
*.log
